/* objective: show the spinner in the center of the page */
.loader-container {
    position: fixed;                        /* keep the loader fixed to the viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--transparent-white-overlay);   /* semi-transparent white overlay */
    display: flex;                          /* use Flexbox for centering */
    flex-direction: column;
    justify-content: center;                /* center vertically */
    align-items: center;                    /* center horizontally */
    z-index: 9999;                          /* ensure it always appears above other content */
}

/* Spinner styling */
.spinner {
    border: 8px solid var(--color-light-grey); /* light gray border */
    border-top: 8px solid var(--color-background-blue);          /* blue top border for animation effect */
    border-radius: 50%;                     /* make it a circle */
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;     /* Spin animation endless run until stopped on the html page */
}

/* Keyframes for spinner rotation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}